<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSYzUTpZoxgn8fWcE180XoKb0YxzTjBzo</string>
	<key>GCM_SENDER_ID</key>
	<string>656750425910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commandespros.nayon.coders.app</string>
	<key>PROJECT_ID</key>
	<string>grocaryecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>grocaryecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656750425910:ios:5090dc90512fc048356597</string>
</dict>
</plist>